<!DOCTYPE html>
<html ng-app="bookApp">

<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="controllers.js"></script>
</head>

<body ng-controller="BookListCtrl">

  <form name='bookForm' ng-submit="bookForm.$valid && submit()" novalidate>Add new book:<br>
    <input type="text" placeholder="Title" ng-model="title" required>
    <input type="text" placeholder="Author" ng-model="author" required>
    <input type="number" placeholder="Price" ng-model="price" required>
    <input type="number" placeholder="Quantity" ng-model="quantity" required>
    <input type="submit" class="btn-primary" value="Submit"><br>
    <span ng-show="bookForm.$dirty && bookForm.$error.required">All fields are required</span>
  </form>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr> 
    </thead>
    <tbody>
      <tr ng-repeat="book in books">
        <td>{{$index + 1}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price | currency}}</td>
        <td>{{book.qty}}</td>
        <td><a href="#" ng-click="remove($index)">DELETE</a></td>
      </tr>
      <tr>
        <td>Totals</td>
        <td></td>
        <td></td>
        <td>{{totalPrice() | currency}}</td>
        <td>{{totalQty()}}</td>
      </tr>
    </tbody>
  </table>

</body>
</html>